.card {
    background-color: #ffff;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    
}
.city {
    font-size: 40px;
    margin: 0px;
}

.general_weather{
    margin: 0;
}


.weatherDetails {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.icon-details {
    display: flex;
}
.icon-details p {
    font-size: 70px;
    margin: 0px;
    color: black;
}

.icon-details span {
    padding-top: 10px;
    color: black;
}

.details{
    margin-right: 70px;
}

form {
    margin: 5px;
}

.submit{
    font-size:15px;
    color:white;
    background: rosybrown;
    border: none;
    border-radius:5px;
    width:80px;
    height:25px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: rosybrown;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}
 

.input-text{
    font-size: 15px;
    height: 24px;  
    border: 1px solid grey;
    border-radius: 5px;
    
}